src/main/resources/xsd/gateway.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="example-message">
        <xs:sequence>
            <xs:element name="message-id" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="message-sender" type="xs:string"  minOccurs="1" maxOccurs="1"/>
            <xs:element name="message-timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
